body {
  background-image: url('/images/jeopardy_logo.jpg');
  background-size:100vw;
  background-repeat: no-repeat;
}
/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

button {
  font-size: 16pt;
  padding: .75rem;
}

img {
  opacity: 0.33;
}

button, img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

table {
  color: whitesmoke;
  background-color: #060ce9;
  margin: 40px;
  /* border: 1px solid whitesmoke; */
}

td  {
  border: 1px solid whitesmoke;
  padding: 2rem;
  width: 100px;
  text-align: center;
  font-size: small;
}

thead {
  text-transform:capitalize;
}
