body {
  background-image: url('/images/jeopardy_logo.jpg');
  background-size:1200px;
  background-repeat: no-repeat;
  text-shadow: 2px 2px 4px black;
}
/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

button {
  font-size: 14pt;
  padding: .5rem;
  margin: 2rem;
  text-shadow: 2px 2px 4px rgb(180, 168, 168);
}

img {
  opacity: 0.33;
}

button, img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

table {
  color: whitesmoke;
  background-color: #060ce9;
  margin-left: 100px;
  margin-top: 10px;
  /* border: 1px solid whitesmoke; */
}

td  {
  border: 1px solid whitesmoke;
  padding: 1.5rem;
  width: 100px;
  text-align: center;
  font-size: small;

}

thead {
  text-transform:capitalize;
}
